services:

  servicemu:
    volumes:
      - ./nginx-goaccess-log:/nginx-goaccess-log

  goaccess:
    image: allinurl/goaccess:latest
    restart: unless-stopped
    environment:
      TZ: Asia/Jakarta
    volumes:
      - ./nginx-goaccess-log:/nginx-goaccess-log:ro
      - ./goaccess/GeoLite2-City.mmdb:/goaccess/GeoLite2-City.mmdb:ro
      - ./goaccess/index.html:/goaccess/index.html
    command: >
      /nginx-goaccess-log/access.log
      --log-format='%h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u" %T'
      --date-format=%d/%b/%Y
      --time-format=%H:%M:%S
      --real-time-html
      --ws-url=ws://ip-host-mu:7890
      --geoip-database=/goaccess/GeoLite2-City.mmdb
      -o /goaccess/index.html
    ports:
      - "7890:7890"

  goaccess-web:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./goaccess/index.html:/usr/share/nginx/html/index.html:ro
      - ./goaccess/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./goaccess/goaccess.htpasswd:/etc/nginx/conf.d/goaccess.htpasswd:ro
    ports:
      - "7891:80"