[mysqld]
skip-host-cache
skip-name-resolve
sql-mode=
default-time-zone='+07:00'
innodb_log_file_size = 256M
innodb_strict_mode = 0

# added August 31, 2022
innodb_buffer_pool_size=2G
innodb_log_buffer_size=2G

# sofyan 4 september 2022
event_scheduler=ON